/*
Default styles Holberton
*/

body,
main {
    display: flex;
    background-color: white;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
}

aside {
    flex: 1;
}

article,
aside {
    overflow-y: auto;
}



html {
    background-color: #f6f6f6;
}


/*
Styles for navbar
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --background-color: #24252A;
}

header a {
    color: #edf0f1;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 99999;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    height: 100px;
    position: sticky;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

header nav ul li .underline {
    height: 3px;
    background-color: transparent;
    width: 0%;
    transition: width 0.2s, background-color 0.5s;
    margin: 0 auto;
}

header nav ul li.active .underline {
    width: 100%;
    background-color: white;
}

header nav ul li:hover .underline {
    width: 100%;
    background-color: white;
}

header ul li:active a {
    transition: none;
    color: rgba(255, 255, 255, 0.76);
}

header ul li:active .underline {
    transition: none;
    color: rgba(255, 255, 255, 0.76);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.gfa {
    width: 20%;
    text-align: center;
    padding: 20px;

}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    background-color: #cccccc;
}

h1,
h2,
p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


hr {
    text-align: center;
}


/* tweets.html styles */

.tweet {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* behavior.html styles */
img.big {
    width: 600px;
}

img.small {
    width: 100px;
}


.social-button {
    display: flex;
    flex-direction: column;
    align-items: center
}

.fb-share {
    order: 0;
    flex-grow: 1;
}

.twitter-share {
    order: 1;
    flex-grow: 1;
}

.social-item {
    flex: 0 0 50%;
    margin-bottom: 5px;
}

/* body */

hr {
    height: 3px;
    color: #ed1d61;
    background: #ed1d61;
    font-size: 0;
    border: 0;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}